body {
    width: 1000px;
    margin: auto;
    background-image: url(../images/fond.jpg);
    background-repeat: no-repeat;
    background-size:initial;
}

table {
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse;  
}

td,
th {
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.638);
}
.entete {
    color:white;
    background-color:rgb(70, 70, 70);
    height: 30px;
    font-size: 2em;
}
.heures {
    width: 5%;
    height: 10px;
}

.jours {
    width: 19%;
    font-size: 1.5em;
}

.plage {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

.liberationCommune {
    background-color: gray;
}

.K420 {
    background-color: pink;
}

.K201 {
    background-color: plum;
}

.MQ1 {
    background-color: powderblue;
}

.MQ2 {
    background-color: purple;
}

.KB3 {
    background-color: peru;
}

.KB2 {
    background-color:blue;
}